<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Anison.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Anison.Properties.Settings>
            <setting name="AnisonURLTemplate" serializeAs="String">
                <value>https://pool.anison.fm/AniSonFM({0})</value>
            </setting>
            <setting name="SavedVolume" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PrefferedBitrate" serializeAs="String">
                <value>320</value>
            </setting>
            <setting name="AvalibleBitrates" serializeAs="String">
                <value>320,256,128</value>
            </setting>
            <setting name="WriteLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExcludeChop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogDebugInfo" serializeAs="String">
                <value>False</value>
            </setting>
        </Anison.Properties.Settings>
    </userSettings>
</configuration>